/* 1 rem = 1em = 16px */

@media (max-width: 80em) {
  .section-hero {
    padding: 2rem 0 5.5rem 0;
  }
  .featured-in-section {
    padding: 3rem 0;
  }
  .section-how {
    padding: 3rem 0;
  }
  .section-meals {
    padding: 3rem 0;
  }
  .section-pricing {
    padding: 3rem 0;
  }
  .section-cta {
    padding: 3rem 0;
  }
}
@media (max-width: 53em) {
  .hero {
    max-width: 99em;

    gap: 4rem;
    align-items: stretch;
    padding: 0 3em;
  }
  .primary-heading {
    font-size: 3.4em;
  }

  .hero-img {
    width: 98%;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1rem 1.7rem;
    margin-right: 1rem;
  }
  .cta {
    grid-template-columns: 60fr 40fr;
  }
}
@media (max-width: 50em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    row-gap: 4rem;
    column-gap: 3rem;
  }
  .primary-heading {
    font-size: 3.8rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .gallery {
    grid-template-columns: repeat(3, 50fr);
  }
  .gallery-item img {
    height: 90%;
  }
  .header {
    padding-left: 3.9rem;
    padding-right: 3.9rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .nav ul {
    gap: 0rem;
  }
  .pricing-plan--complete::after {
    top: 3%;
    right: -15%;
    padding: 1rem 6rem 1rem 9rem;

    transform: rotate(43deg);
  }
  .pricing-plan {
    width: 83%;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 50%;
  }
  .mobile-nav {
    display: block;
  }
  .mobile-nav-icon[name="close-outline"] {
    display: none;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    display: flex;

    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
    opacity: 0;

    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .nav {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
  }
  .nav-open .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  .nav-open .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .nav ul {
    gap: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-links:link,
  .nav-links:visited {
    font-size: 3rem;
  }
  .section-hero {
    width: 100vw;
  }
  .hero {
    grid-template-columns: 1fr;
    gap: 6rem;
    text-align: center;
  }
  .hero-img {
    width: 60%;
  }
  .delivered-meals {
    justify-content: center;
  }
  .step-img-box::after {
    transform: translate(50%, -50%);
  }
  .step-img-box::before {
    transform: translate(20%, -50%);
  }
  .feature-in-imgs img {
    height: 2rem;
  }
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .meal {
    width: 80%;
  }

  .diets .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .diets {
    grid-column: 1/-1;
  }
  .container {
    width: 100vw;
  }
  .section-testimonial {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .step-img-box::after {
    transform: translate(42%, -50%);
  }
  .step-img-box::before {
    transform: translate(13%, -50%);
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .cta {
    grid-template-columns: 1fr 1fr;
  }
  .pricing-plan {
    width: 100%;
  }
}
@media (max-width: 34em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--5-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  .meal-title {
    font-size: 1.6rem;

    margin-bottom: 2.4rem;
  }
  .meal-attribute {
    font-size: 1.3rem;
  }
  .step-img-box::after {
    transform: translate(48%, -50%);
  }
  .step-img-box::before {
    transform: translate(18%, -50%);
  }
}
@media (max-width: 33em) {
  .step-img-box::after {
    transform: translate(55%, -50%);
  }
  .step-img-box::before {
    transform: translate(24%, -50%);
  }
}
@media (max-width: 32em) {
  .section-hero {
    padding: 0;
    padding-bottom: 2rem;
  }
  .grid {
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .hero {
    gap: 1.6rem;
  }
  .hero-description {
    margin-bottom: 2rem;
  }
  .delivered-meals {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 2.4rem;
    margin-bottom: 1.6rem;
  }
  .feature-in-imgs img {
    height: 1.4rem;
    padding-left: 1rem;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img {
    width: 50%;
    padding-left: 5rem;
  }
  .meal-attribute {
    font-size: 2rem;
  }
  .diets {
    margin-top: 3rem;
    margin-left: -3rem;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .plan-text {
    font-size: 2rem;
  }
  .list-item {
    font-size: 1.8rem;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-img-box {
    height: 30rem;
    grid-row: 1;
  }
  .grid--5-cols {
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
  }
  .footer-header {
    margin-bottom: 2rem;
  }
  .pricing-plan--complete::after {
    top: 8%;
    right: -12%;
    width: 1rem 11rem;
    font-size: 2rem;
  }
}
@media (max-width: 18em) {
  .step-img-box::after {
    width: 65%;
    padding-bottom: 65%;
    transform: translate(35%, -50%);
  }
  .step-img-box::before {
    width: 80%;
    padding-bottom: 80%;
    transform: translate(20%, -50%);
  }
  .step-img {
    padding: 0;
  }
}
